@page "/notes/csharp"

<h1>C#</h1>

<pre><code>

    Contextual keywords allow keywords to be used as identifiers.

    To use a keyword as an identifier, escape it with @@, e.g. @@class.

    Generics (C# 2), e.g. List&lt;int&gt;

    Nullable types (C# 2), e.g. int?

    Iterators (C#2), e.g. IEnumerable&lt;int&gt; w/ yield return

    Anonymous types (C# 3) with the var keyword.

    Object initializers (C# 3), e.g. var x = new C() { Prop = val };

    Collection initializers (C# 3), e.g. var x = new List&lt;int&gt; { 1, 2, 3 };

    Extension methods (C# 3), e.g. public static string Reverse(this string s)

    Lambda expressions (C# 3), e.g. Func&lt;int, int, int&gt; x = (a, b) => a + b;

    Expression trees (C# 3), e.g. Expression&lt;Func&lt;int, int, int&gt;&gt; x = (a, b) => a + b;

    Automatic properties (C# 3), e.g. public int X { get; private set; }

</code></pre>