@page "/notes/dataanalysis"

<h1>Data Analysis</h1>

<pre class="kaypro10">Step 1: Ask questions

Step 2: Wrangle data
- gather
- assess
- clean

Step 3: Perform EDA (Exploratory Data Analysis)
- Explore
-- building intuition
-- finding patterns
-- visualizing relationships
- Augment
-- remove outliers
-- feature engineering

Step 4: Draw conclusions (or make predictions)
- machine learning
- inferential statistics

Step 5: Communicate your results
- Data visualization

Debugging Data Problems
1. Identify surprising data points
2. Print out one or a few surprising points
3. Fix any problems you find
</pre>