@page "/notes/designpatterns"

<h1>Design Patterns</h1>

<pre class="kaypro10">

Observer
- Publish/Subscribe relationshipt
- Everyday usage: Event Handlers
- EventAggregator and IObservable&lt;T&gt;

Proxy
- Placeholder / Stand-in for actual object
- Everyday usage: SOAP Service Proxies

</pre>