@page "/notes/designpatterns"

<h1>Design Patterns</h1>

<pre class="kaypro10">
Chain of Responsibility
- Everyday usage: exception handling
- Message handling

Façade
- Everyday usage: foreach
- Hides complexity

Iterator
- Everyday usage: foreach
- IEnumerable&lt;T&gt;
- MoveNext() and Current
- yield return

Observer
- Everyday usage: Event Handlers
- Publish/Subscribe relationship
- EventAggregator and IObservable&lt;T&gt;

Proxy
- Everyday usage: SOAP Service Proxies
- Placeholder / Stand-in for actual object
</pre>