@page "/notes/food"

<h1>Food</h1>

<pre class="kaypro10">Links:
<a target="_blank" href="http://www.mycobank.org/">MycoBank</a>
</pre>

<table class="table table-bordered food-table">
    <thead>
        <tr>
            <th>Nutrient</th>
            <th>Effect</th>
            <th>Sources</th>
        </tr>
    </thead>
    <tbody>
        <tr class="vitamin">
            <td>A</td>
            <td>immune sys, vision</td>
            <td>cruciferous veggies, dairy, eggs, squashes, peppers, tomatoes</td>
        </tr>
        <tr class="vitamin">
            <td>B-complex</td>
            <td>metabolism</td>
            <td>meat, beans, whole grains, potatoes, bananas, chili peppers</td>
        </tr>
        <tr class="vitamin">
            <td>B<sub>17</sub></td>
            <td>anti-cancer (?)</td>
            <td>apple seeds, apricot/peach/nectarine/cherry pits</td>
        </tr>
        <tr class="vitamin">
            <td>C</td>
            <td>antioxidant etc.</td>
            <td>citrus fruits, berries</td>
        </tr>
        <tr class="mineral">
            <td>Boron</td>
            <td>testosterone etc.</td>
            <td>avocados, almonds, walnuts, broccoli, potatoes, pears, prunes, honey, oranges, onions, chick peas, carrots, beans, bananas, red grapes, red apples and raisins</td>
        </tr>
        <tr class="mineral">
            <td>Iodine</td>
            <td>thyroid</td>
            <td>iodized salt, seafood, seaweeds and shellfish, dairy products, eggs</td>
        </tr>
        <tr class="mineral">
            <td>Lithium</td>
            <td>nervous system</td>
            <td>dairy products, sugarcane, seaweed, potatoes, eggs, lemons</td>
        </tr>
        <tr class="mineral">
            <td>Magnesium</td>
            <td>metabolism etc.</td>
            <td>pumpkin seeds, spinach, beans, cashews, avocados, brown rice, bananas, almonds, oats, corn, flour, dairy, dark chocolate</td>
        </tr>
        <tr class="mushroom">
            <td>Nerve Growth Factor</td>
            <td>nervous system</td>
            <td>lion's mane, maitake, matsutake, tiger's milk mushroom, cordyceps, giant oyster mushroom, Lingzhi mushroom, black reishi</td>
        </tr>
        <tr class="vegetable">
            <td>Glucosinolates</td>
            <td>anti-cancer</td>
            <td>cruciferous vegetables, broccoli, cauliflower, brussels sprouts, cabbage, leafy greens, turnips, rutabaga, radishes</td>
        </tr>
        <tr class="vegetable">
            <td>Polyphenols</td>
            <td>antioxidant, metabolism</td>
            <td>berries</td>
        </tr>
    </tbody>
</table>