@page "/notes/food"

<h1>Food</h1>

<pre class="kaypro10">Links:
</pre>

<table class="table table-bordered food-table">
    <thead>
        <tr>
            <th>Nutrient</th>
            <th>Effect</th>
            <th>Sources</th>
        </tr>
    </thead>
    <tbody>
        <tr class="vegetable">
            <td>Glucosinolates</td>
            <td>anti-cancer</td>
            <td>cruciferous vegetables, broccoli, cauliflower, brussels sprouts, cabbage, leafy greens, turnips, rutabaga, radishes</td>
        </tr>
        <tr class="vegetable">
            <td>Polyphenols</td>
            <td>?</td>
            <td>dark berries</td>
        </tr>
        <tr class="vitamin">
            <td>B<sub>17</sub> (amygdalin)</td>
            <td>anti-cancer (unproven)</td>
            <td>seeds/pits of apricots, apples, cherries, peaches, oranges, and nectarines</td>
        </tr>
        <tr class="mineral">
            <td>Iodine</td>
            <td>deficiency → hypothyroidism → cancer</td>
            <td>iodized salt, seafood, seaweeds and shellfish, dairy products and eggs</td>
        </tr>
        <tr class="mineral">
            <td>Magnesium</td>
            <td>?</td>
            <td>?</td>
        </tr>
    </tbody>
</table>