@page "/notes/fsharp"

<h1>F#</h1>

<pre class="kaypro10">Links:

// line comment

(* multiline comment *)

Open the F# Interactive window with CTRL+ALT+F

Terminate a statement in F# Interactive with ';;'

Reorder files in the Solution Explorer with ALT+UP &amp; ALT+DOWN
</pre>
