@page "/notes/ml"

<h1>ML</h1>

<pre class="kaypro10">

In supervised learning, the training data is labelled.

Typical supervised learning tasks include classification and predicting a target numeric value.

Some of the most important supervised learning algorithms include
- k-nearest neighbors
- linear regression
- logistical regression
- support vector machines
- decision trees and random forests
- neural networks

In unsupervised learning, the training data is unlabelled.

Typical unsupervised learning tasks include
- clustering,
- visualization,
- dimensionality reduction / feature extraction,
- anomaly detection and
- association rule learning.

Some of the most important unsupervised learning algorithms include
- clustering
-- k-means
-- hierarchical cluster analysis (HCA)
-- expectation maximization
- visualization and dimensionality reduction
-- principle component analysis (PCA)
-- kernel PCA
-- locally-linear embedding (LLE)
-- t-distributed stochastic neighbor embedding (t-SNE)
- association rule learning
-- Apriori
-- Eclat

In semisupervised learning, some of the training data is labelled.

In reinforcement learning, an agent observes the environment and receives rewards for actions performed.

In batch learning, the system is trained using all available data.

In online learning, the system is trained incrementally by feeding it data in mini-batches.

In instance-based learning, the system learns examples by heart, then generalizes to new cases using a similarity measure.

In model-based learning, a model is built from a set of examples, then the model is used to make predictions.

Small data sets often suffer from sampling noise, and large data sets can still suffer from sampling bias.

Feature engineering involves feature selection, feature extraction and feature creation.

To fix overfitting you can
- simplify the model
- gather more training data
- fix data errors and remove outliers

Regularization constrains a model to make it simpler and reduce the risk of overfitting.

Underfitting occurs when your model is too simple to learn the underlying structure of the data.

To fix underfitting you can
- select a more powerful model
- feature engineering
- reduce regularization

To see how well a model will generalize to new cases, the data is split into a training set and a test set.

It is common to use 80% of the data for training and hold out 20% for testing.

In cross-validation, a validation set is randomly held out from the training set during training.

The No Free Lunch Theorem states that there is no model that is guaranteed to work best on a given dataset.  The only way to know for sure is to evaluate them all.

</pre>