@page "/notes/powershell"

<h1>PowerShell</h1>

<pre class="kaypro10">

$PSVersionTable   # shows version

help Get-EventLog -Online   # online help

Show-Command Get-EventLog   # pop up a window

</pre>