@page "/notes/powershell"

<h1>PowerShell</h1>

<pre class="kaypro10"># show version
$PSVersionTable

# online help
help &lt;cmdlet&gt; -Online

# pop up a window
Show-Command &lt;cmdlet&gt;

Get-PSProvider

Get-PSDrive

New-Item -ItemType File empty.txt

Set-Item -Path alias:npp -Value "C:\Program Files\Notepad++\notepad++.exe"

# change registry value
Set-ItemProperty

Export-CSV, Export-CliXML

diff -ReferenceObject &lt;object 1&gt; -DifferenceObject &lt;object 2&gt;

Out-File, Out-Printer, Out-GridView

Get-Process -Name notepad | Stop-Process

$ConfirmPreference

# list snapins
Get-PSSnapin

# show module path
Get-Content env:PSModulePath

# load a module and list its API
Import-Module DnsClient
Get-Command -Module DnsClient

Get-Member


</pre>