@page "/notes/powershell"

<h1>PowerShell</h1>

<pre class="kaypro10">$PSVersionTable   # shows version

help &lt;cmdlet&gt; -Online   # online help

Show-Command &lt;cmdlet&gt;   # pop up a window

Get-PSProvider

Get-PSDrive

New-Item -ItemType File empty.txt

Set-Item -Path alias:npp -Value "C:\Program Files\Notepad++\notepad++.exe"

Set-ItemProperty   # change registry value

Export-CSV, Export-CliXML

diff -ReferenceObject &lt;object 1&gt; -DifferenceObject &lt;object 2&gt;

Out-File, Out-Printer, Out-GridView

Get-Process -Name notepad | Stop-Process

$ConfirmPreference
</pre>