@page "/notes/ros"

<h1>ROS</h1>

<pre class="kaypro10">

roscore is a service that provides connection information to nodes.

ROS_MASTER_URI=http://locahost:11311/

catkin is the ROS build system.



</pre>