@page "/notes/solid"

<h1>SOLID Principles</h1>

<pre class="kaypro10">Single Responsibility Principle
- Every object should have a single responsibility, and that responsibility should be entirely encapsulated by the class. 
- There should never be more than one reason for a class to change.

Open / Closed Principle

Liskov Substitution Principle

Interface Segregation Principle
- Clients should not be forced to depend on methods they do not use.
- Keep interfaces lean and focused.
- Refactor large interfaces so they inherit smaller interfaces.

Dependency Inversion Principle
</pre>