@page "/notes/sql"

<h1>SQL</h1>

<pre class="kaypro10">Query steps:
1. Cartesian product (cross join)
2. apply the ON filter (join condition)
3. add outer rows
4. apply the WHERE filter
5. GROUP
6. apply CUBE or ROLLUP
7. apply the HAVING filter
8. process the SELECT list
9. apply the DISTINCT clause
10. apply the ORDER BY clause
11. apply the TOP operation

</pre>