.unpad {
    padding: unset;
}

.tempo-slider-container {
    width: 100%;
    padding-top: 15px;
}

.tempo-slider {
    float: none;
    width: 100%;
    vertical-align: middle;
}

.metronome-object {
    width: 100px;
    height: 450px;
    margin: 0;
    background-color: brown;
}

.metronome {
}

    .metronome .display {
        font-size: 80px;
    }

    .metronome .start {
        height: 100px;
        width: 100px;
        font-size: xx-large;
    }

.pendulum-crossbar {
    width: 100px;
    position: absolute;
    top: 330px;
    text-align: center;
}

.pendulum-grandparent {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.pendulum-child {
    width: 71px;
    height: 420px;
    background-image: url('../images/pendulum.png');
    position: absolute;
    left: -25px;
    top: -320px;
}

@keyframes swing0 {
    0% {
        transform: rotate(-40deg);
    }

    100% {
        transform: rotate(40deg);
    }
}

@keyframes swing1 {
    0% {
        transform: rotate(-40deg);
    }

    100% {
        transform: rotate(40deg);
    }
}

@keyframes stop {
    100% {
        transform: rotate(0deg);
    }
}

.pendulum-parent {
    width: 20px;
    height: 20px;
    display: block;
    transform: rotate(0deg) scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    animation-direction: alternate;
}

@media (max-width: 767px) {
    .metronome {
        width: 50px;
        height: 225px;
    }

    .pendulum-crossbar {
        width: 50px;
        top: 165px;
    }

    .pendulum-child {
        width: 36px;
        height: 210px;
        background-size: contain;
        left: -12px;
        top: -160px;
    }

    .pendulum-parent {
        width: 11px;
        height: 11px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .metronome {
        width: 75px;
        height: 338px;
    }

    .pendulum-crossbar {
        width: 75px;
        top: 248px;
    }

    .pendulum-child {
        width: 53px;
        height: 315px;
        background-size: contain;
        left: -19px;
        top: -240px;
    }

    .pendulum-parent {
        width: 16px;
        height: 16px;
    }
}
