@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    z-index: 1020;
}

.main {
    flex: 1;
}

    .main .top-row {
        /*background-color: #e6e6e6;*/
        /*background-color: rgba(0,0,0,0.4);*/
        /*background-color: aquamarine;*/
        /*border-bottom: 1px solid #d6d5d5;*/
    }

.nav-item {
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

/*my stuff*/

/* submenus */

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
    }

.home-page {
    text-align: center;
}

.timer {}

    .timer .display {
        font-size: 100px;
    }

    .timer .start {
        height: 100px;
        width: 100px;
        font-size: xx-large;
    }

.kaypro10 {
    color: aquamarine;
    background-color: black;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.navbar-dark .navbar-brand:hover {
    color: #375a7f;
}

.vitamin {
    background-color: gold;
    color: purple;
}

.mineral {
    background-color: slategray;
    color: white;
}

.fat {
    background-color: antiquewhite;
    color: saddlebrown;
}

.mushroom {
    background-color: darkgoldenrod;
    color: navy;
}

.vegetable {
    background-color: green;
    color: white;
}

.additive {
    background-color: white;
    color: red;
}

.hormone {
    background-color: pink;
    color: darkred;
}

.unhealthy {
    border-style: dashed;
    border-width: medium;
    border-color: red;
}

/*.calculator-title {
    text-align: center;
}

.white-key {
    color: black;
    background-color: ivory;
}

.black-key {
    color: black;
    background-color: black;
}

article.instructions {
    margin-top: 15px;
}

.narrow-article {
    margin-left: 25%;
    width: 50%;
}

.navbar-inverse {
    background-color: #00bc8c;
    border-color: transparent;
}


@media (min-width: 992px) and (max-width: 1199px) {
    .narrow-article {
        margin-left: 16.66666667%;
        width: 66.66666667%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .narrow-article {
        margin-left: 8.33333333%;
        width: 83.33333333%;
    }
}

@media (max-width: 767px) {
    .narrow-article {
        margin-left: 0%;
        width: 100%;
    }
}*/

@media (max-width: 424px) {
    .splash-screen-image {
        width: 100%;
    }
}
