@page "/links/books"

<h1>Books</h1>

<pre class="kaypro10">Links:
<a target="_blank" href="https://selfdrivingcars.mit.edu/deeptraffic/">Deep Traffic</a>
<a target="_blank" href="http://neuralnetworksanddeeplearning.com/">Neural Networks and Deep Learningk</a>
<a target="_blank" href="http://www.deeplearningbook.org/">Deep Learning Book</a>
</pre>