@page "/practice/presets"

<article class="narrow-article" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Article">
    @*@{Html.RenderPartial("~/Views/Shared/_StructuredData.cshtml", ViewBag as object);}*@
    <h1>Scheduled Metronome Presets</h1>

    <p>
        Presets are kind of diffucult to share with other people, because the tempos will vary from person to person.
        But is still might be useful to share them as starting points, to be tailored to suit.
    </p>

    <ul>
        <li><a href="scheduled-metronome?r=3&s=false&b=true&t=120-208-40&d=3-3-3&e=moderato-presto-largo">Demo</a></li>
        <li><a href="scheduled-metronome?r=5&s=true&b=true&t=56-56-56-56-56-56-56&d=120-120-120-120-120-120-120&e=Ex.%201-Ex.%202-Ex.%203-Ex.%204-Ex.%205-Ex.%206-Ex.%207">Stylus Pick Level 1</a></li>
        <li><a href="scheduled-metronome?r=5&s=true&b=true&t=66-66-66-66-66-66-66-66&d=120-120-120-120-120-120-120-120&e=Ex.%201-Ex.%202-Ex.%203-Ex.%204-Ex.%205-Ex.%206-Ex.%207-Ex.%208">Stylus Pick Level 2</a></li>
        <li><a href="scheduled-metronome?r=5&s=true&b=true&t=72-72-72-72-72-72-72-72-72&d=120-120-120-120-120-120-120-120-120&e=Ex.%201-Ex.%202-Ex.%203-Ex.%204-Ex.%205-Ex.%206-Ex.%207-Ex.%208-Ex.%209">Stylus Pick Level 3</a></li>
    </ul>

    <p>
        Drum rudiments:
    </p>

    <ul>
        <li><a href="accelerating-metronome?r=5&s=true&b=true&t=60.60.200.200.60-60.60.120.120.60-60.60.120.120.60-50.50.100.100.50-50.50.100.100.50-40.40.80.80.40-40.40.80.80.40-65.65.130.130.65-40.40.80.80.40-40.40.80.80.40-40.40.80.80.40-65.65.130.130.65-65.65.130.130.65&d=5.20.10.20.5-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0&e=Double%E2%80%90stroke%20Roll-5%E2%80%90Stroke%20Roll-7%E2%80%90Stroke%20Roll-Flam-Flam%20Accent-Flam%20Paradiddle-Flamacue-Ruff-Single%20Drag-Double%20Drag-Double%20Paradiddle-Single%20Ratamacue-Triple%20Ratamacue">The First Thirteen Rudiments (Slingerland)</a></li>
        <li><a href="accelerating-metronome?r=5&s=true&b=true&t=65.65.130.130.65-70.70.140.140.70-70.70.140.140.70-70.70.140.140.70-70.70.140.140.70-70.70.140.140.70-60.60.120.120.60-40.40.80.80.40-60.60.120.120.60-60.60.120.120.60-65.65.130.130.65-70.70.140.140.70-65.65.130.130.65&d=5.20.10.20.5-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0-5.20.10.20.5.0&e=Single%20Stroke%20Roll-9%E2%80%90Stroke%20Roll-10%E2%80%90Stroke%20Roll-11%E2%80%90Stroke%20Roll-13%E2%80%90Stroke%20Roll-15%E2%80%90Stroke%20Roll-Flam%20Tap-Single%20Paradiddle-Drag%20Paradiddle%20No.%201-Drag%20Paradiddle%20No.%202-Flam%20Paradiddle%20Diddle-Lesson%2025-Double%20Ratamacue">The Second Thirteen Rudiments (Slingerland)</a></li>
    </ul>

    <p>
        And try this (still under construction):
    </p>

    <ul>
        <li><a href="accelerating-metronome?r=3&s=false&b=true&t=80.80.160.160.80-80.80.160-160.160.80&d=3.20.3.20.3.0-3.20.3.0.0.0-3.20.3&e=Lambda-Rising-Falling">Accelerating Metronome Demo</a></li>
    </ul>

</article>
