@page "/notes/other/chords"

<h1>Chord Substitution</h1>

<pre class="kaypro10">Rule I: For basic chords, any modal extension may be added.
 7 <=>  9,    11,  13
Δ7 <=> Δ9, Δ7#11, Δ13
m7 <=> m9,   m11, m13

Rule II: Major Chords
Substitute Major chords own mediant or submediant chord.

Rule III: Minor Chords
Substitute Relative Major or Dominant Minor.

Rule IV: Dominant Chords 
Substitute Dom. minor (ii7) for Dom. major (must return to V7).

Rule V: All Chords - Tritone Substitution
Substitute any chord which has a root a tritone away from the original chord.

Rule VI: Dominant Chords
Substitute Δ7b5 or Δ7#5 built on the subtonic (bvii) of the Dom. chord.

Rule VII: Dominant Chords
Substitute m7b5 chord built on the mediant of the Dom7 chord.

Rule VIII: Dominant Chords
Substitute Dim7 chord built on bII of the Dom7 chord.

Rule IX: V7 chords may replace minors (secondary dominants) to set up a stronger harmonic cadence (tonicization).

Rule X: Dom7 (V7) chords
Altered (#9, b9, #5, b5) Dom7 chords may follow unaltered chords when resolving to their tonic.
The reverse is not true. When moving towards the tonic, you need to go from less tension to more tension.

Rule XI: Dom7 (V7) chords
Altered Dom7 chords can be used (even if not indicated) when the following chords root is:
1. a 4th higher (5th lower): A7 alt Dmaj7
2. ½ step lower A7 alt Abmaj7
3. a minor type with the same root A7 alt A-7
4. ½ step higher A7 alt Bbmaj7
In all other instances use mixolydian or mixolydian #11 scales.

Rule XII:
A) When a Maj or Min chord is followed by a Maj, Min or Dom7 chord whose root is a 4th higher,
   you may insert a Dom7 of the same root for half the duration.
B) You may also insert a Dom7 chord a tritone away for the same duration.

Rule XIII:
A min6 chord cannot be substituted for a min7 (ii-function)
unless an altered Dom7 follows, thus increasing the harmonic tension of the progression.

Rule XIV:
Min7b5 chords may be inserted before Dom7 (V7) chords in major or minor keys.

Rule XV:
Dom11 (V7) chords can function as dom7´s or min7´s (dorian/aeolian)

Rule XVI:
A bII7b5 substitution for V7 alt works because they both share the same scale.

Rule XVII:
Secondary Dom7 and Dim7 chords may be inserted before their respective resolution chords.

Rule XVIII:
It is common to insert two diatonic chords seperated by a secondary dim7 chord in places of little harmonic motion.

Rule XIX:
Maj7#5 and Maj7b5 chords can be subbed for any other chords in the same melodic minor scale.

Rule XX: Symetrical Scales
A) Dim chords repeat every min3rd (4 frets) interval. Therefore, any of the four in the cycle may be substituted for another.
B) Augmented Chords repeat every maj3rd (5 frets) interval, so the same rule applies.

Rule XXI: Dom7 Chords (V7)
Dom7 chords can be moved in min3rd cycles to intersect at cadence points.

Rule XXII: Modal Chords
Modal Chords can be interchanged (modal mixture) as long as the basic integrity of the chord remains intact.

Rule XXIII:
The cycle of 5th´s (descending) may be inserted for any length in a progression as long as
the intersecting chord has either a V7 or a bII7 relationship to the resolution chord.

Rule XXIV:
Polychords from the Dominant Diminished scale can be subbed for one another.

Rule XXV:
A) When in a min ii7b5 V7 i7 progression, an altered Dom7 chord must be used.
B) All secondary Dom7 (V7) chords resolving to minor must have an altered V7 chord

Rule XXVI:
Any chord can be replaced by another chord from its family.

Rule XXVII:
Dim7 chords that resolve to min7 chords one ½ step above can be replaced with
 a ii7b5 V7alt progression from the key of the min7 chord.

Rule XXVIII:
Any chord whose chord scale contains the melody notes of a particular measure can be substituted.

Rule XXIX:
Triads and Sevenths (V7) over Dom or Tonic bass notes are very common.

Rule XXX: Dom 7 chords
Dom7 chords that resolve to Dom7 or Maj7 chord a whole step above.

Rule XXXI:
Dom7 chords can replace either major or minors.

Rule XXXII:
When creating triad over bass note substitutes, pay particular a1ention to the movement and voiceleading of the upper triads.
They shoud move in the strongest direction of resolution as if there were no bass note below.

Rule XXXII:
Any melody note may be retained as a common tone (in any voice) for the purpose of reharmonization.
</pre>