@page "/notes/ms/aspnetcore"

<h1>ASP.NET Core</h1>

<pre class="kaypro10"><a href="http://owin.org">OWIN</a>

The content root is the root folder of deployment.

The web root is the base path for static files.

</pre>