@page "/notes/ms/typescript"

<h1>F#</h1>

<pre class="kaypro10">Links:
<a target="_blank" href="https://www.typescriptlang.org/">Official TypeScript page</a>

Manually compile with &gt; tsc file.ts

// type annotations come after parameters
function greeter(person: string) { ... }

interface Person {
    firstName: string;
    lastName: string;
}

Build options are stored in tsconfig.json
</pre>
