@*<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SurfingWithStyleWA</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>*@

@*<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item px-3 dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</div>*@

@*@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}*@

<nav class="top-row navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Surfing With Style</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item px-3 dropdown">
                <NavLink class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Notes
                </NavLink>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <NavLink class="nav-link" href="notes/csharp" Match=NavLinkMatch.All>
                        @*<span class="oi oi-home" aria-hidden="true"></span>*@ C#
                    </NavLink>
                    <NavLink class="nav-link" href="notes/git">
                        @*<span class="oi oi-list-rich" aria-hidden="true"></span>*@ Git
                    </NavLink>
                    <NavLink class="nav-link" href="notes/ml">
                        @*<span class="oi oi-plus" aria-hidden="true"></span>*@ ML
                    </NavLink>
                    @*<div class="dropdown-divider"></div>*@
                </div>
            </li>
            @*<li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>*@
        </ul>
        @*<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>*@
    </div>
</nav>