<nav class="top-row navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" role="button">Surfing With Style</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item px-3 dropdown">
                <NavLink class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tools
                </NavLink>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <NavLink class="nav-link" href="tools/calculator">
                        Calculator
                    </NavLink>
                </div>
            </li>
            @*<li class="nav-item px-3 dropdown">
            <NavLink class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Practice
            </NavLink>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <NavLink class="nav-link" href="practice/metronome" Match=NavLinkMatch.All>
                Metronome
            </NavLink>
            <NavLink class="nav-link" href="practice/scheduledmetronome">
                Scheduled&nbsp;Metronome
            </NavLink>
            <NavLink class="nav-link" href="practice/presets">
                Scheduled&nbsp;Metronome
            </NavLink>
                <div class="dropdown-divider"></div>
                <NavLink class="nav-link" href="practice/scheduled-metronome-help">
                    Scheduled&nbsp;Metronome&nbsp;Help
                </NavLink>
            </div>
        </li>*@
            <li class="nav-item px-3 dropdown">
                <NavLink class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Notes
                </NavLink>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <NavLink class="nav-link" href="notes/dotnet" Match=NavLinkMatch.All>
                        .NET
                    </NavLink>
                    <NavLink class="nav-link" href="notes/csharp">
                        C#
                    </NavLink>
                    <NavLink class="nav-link" href="notes/designpatterns">
                        Design Patterns
                    </NavLink>
                    <NavLink class="nav-link" href="notes/git">
                        Git
                    </NavLink>
                    <NavLink class="nav-link" href="notes/ml">
                        ML
                    </NavLink>
                    <NavLink class="nav-link" href="notes/msbuild">
                        MSBuild
                    </NavLink>
                    <NavLink class="nav-link" href="notes/powershell">
                        PowerShell
                    </NavLink>
                    <NavLink class="nav-link" href="notes/solid">
                        SOLID
                    </NavLink>
                    <NavLink class="nav-link" href="notes/food">
                        Food
                    </NavLink>
                </div>
            </li>
            <li class="nav-item px-3 dropdown">
                <NavLink class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Links
                </NavLink>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <NavLink class="nav-link" href="links/tools" Match=NavLinkMatch.All>
                        Tools
                    </NavLink>
                </div>
            </li>
        </ul>
    </div>
</nav>