<nav class="top-row navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" role="button">Surfing With Style</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item px-3 dropdown">
                <NavLink class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tools
                </NavLink>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    @*<li>
            <NavLink class="nav-link" href="tools/timer">
                Timer
            </NavLink>
        </li>*@
                    <li>
                        <NavLink class="nav-link" href="tools/measurementconverter">
                            Measurement&nbsp;Converter
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="tools/calculator">
                            Calculator
                        </NavLink>
                    </li>
                </ul>
            </li>
            @*<li class="nav-item px-3 dropdown">
                    <NavLink class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Practice
                    </NavLink>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <NavLink class="nav-link" href="practice/metronome" Match=NavLinkMatch.All>
                        Metronome
                    </NavLink>
                    <NavLink class="nav-link" href="practice/scheduledmetronome">
                        Scheduled&nbsp;Metronome
                    </NavLink>
                    <NavLink class="nav-link" href="practice/presets">
                        Scheduled&nbsp;Metronome
                    </NavLink>
                        <div class="dropdown-divider"></div>
                        <NavLink class="nav-link" href="practice/scheduled-metronome-help">
                            Scheduled&nbsp;Metronome&nbsp;Help
                        </NavLink>
                    </div>
                </li>*@
            <li class="nav-item px-3 dropdown">
                <NavLink class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Notes
                </NavLink>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li class="dropdown-submenu">
                        <NavLink class="dropdown-item dropdown-toggle" href="#">
                            MS
                        </NavLink>
                        <ul class="dropdown-menu">
                            <li>
                                <NavLink class="nav-link" href="notes/ms/dotnet">
                                    .NET
                                </NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link" href="notes/ms/csharp">
                                    C#
                                </NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link" href="notes/ms/fsharp">
                                    F#
                                </NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link" href="notes/ms/msbuild">
                                    MSBuild
                                </NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link" href="notes/ms/powershell">
                                    PowerShell
                                </NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link" href="notes/ms/typescript">
                                    TypeScript
                                </NavLink>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <NavLink class="dropdown-item dropdown-toggle" href="#">
                            Python
                        </NavLink>
                        <ul class="dropdown-menu">
                            <li>
                                <NavLink class="nav-link" href="notes/python/python">
                                    Python
                                </NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link" href="notes/python/numpy">
                                    NumPy &amp; SciPy
                                </NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link" href="notes/python/pandas">
                                    pandas
                                </NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link" href="notes/python/matplotlib">
                                    Matplotlib
                                </NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link" href="notes/python/scikit-learn">
                                    scikit-learn
                                </NavLink>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="notes/designpatterns">
                            Design Patterns
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="notes/git">
                            Git
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="notes/machinelearning">
                            Machine Learning
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="notes/solid">
                            SOLID
                        </NavLink>
                    </li>
                    <li>
                        <div class="dropdown-divider" />
                    </li>
                    <li>
                        <NavLink class="nav-link" href="notes/food">
                            Food
                        </NavLink>
                    </li>
                </ul>
            </li>
            <li class="nav-item px-3 dropdown">
                <NavLink class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Links
                </NavLink>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <NavLink class="nav-link" href="links/tools">
                            Tools
                        </NavLink>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>