@page "/notes/csharp"

<h1>C#</h1>

<pre><code>

Error handling in .NET is provided through exception handling.

.NET has a built-in security mechanism called Code Access Security (CAS) that sandboxes code.

The Common Language Infrastructure (CLI) is an ECMA standard that specifies the runtime infrastructure.

The CLI defines the Virtual Execution System (VES), the Common Intermediate Language (CIL a.k.a. IL), metadata and file format.

The Common Type System (CTS) defines types available to CLI-compliant languages.

The Common Language Specification (CLS) is a subset of CTS types that are guaranteed to be compatible across languages.

The BCL is CLI-compliant.

The lowest level of deployment granularity is the module.

An assembly is composed of one or more modules.

The Windows Runtime (WinRT) uses the same metadata file format (.winmd) as .NET assemblies.

PEVerify checks whether code is type safe.

A finalizer is often used to clean up native resources that object instances hold on to.

An indexer is a special property that allows access on an object instance as if it were an array.

CLS rules only apply to those parts of a type that are visible outside of the defining assembly.

PE/COFF stands for Portable Executable Common Object File Format.

</code></pre>