@page "/links/books"

<h1>Books</h1>

<pre class="kaypro10">Links:
<a target="_blank" href="http://neuralnetworksanddeeplearning.com/">Neural Networks and Deep Learningk</a>
<a target="_blank" href="http://www.deeplearningbook.org/">Deep Learning Book</a>
<a target="_blank" href="http://www-bcf.usc.edu/~gareth/ISL/ISLR%20First%20Printing.pdf">An Introduction to Statistical Learning</a>
</pre>