@page "/links/tools"

<h1>Tools</h1>

<pre class="kaypro10">Links:
<a target="_blank" href="https://unicode-table.com/en/">Searchable Unicode Table</a>
<a target="_blank" href="https://caniuse.com/">CanIUse browser capabilities</a>
<a target="_blank" href="https://www.telerik.com/fiddler">Fiddler web debugger</a>
<a target="_blank" href="https://www.wireshark.org/">Wireshark network protocol analyzer</a>
</pre>