@page "/notes/data-science/data-science"

<h1>Data Science</h1>

<div class="kaypro10"><pre>Links:
<a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown Cheatsheet</a>
<a target="_blank" href="https://ipython.readthedocs.io/en/stable/interactive/magics.html">Magic Commands</a>
<a target="_blank" href="https://docs.python.org/3/library/pdb.html">pdb — The Python Debugger</a>

Common Jupyter keystrokes
SHIFT+ENTER
CTRL+ENTER
UP/DOWN
TAB
SHIFT+TAB
SHIFT+TAB,SHIFT+TAB
ESC,H
CTRL+SHIFT+P

Common magic keywords:
%matplotlib
%timeit
%pdb

# convert a notebook to HTML, slides
jupyter nbconvert --to html notebook.ipynb
jupyter nbconvert notebook.ipynb --to slides
jupyter nbconvert notebook.ipynb --to slides --post serve

</pre></div>
