@page "/notes/data-science/data-analysis"

<h1>Data Analysis</h1>

<pre class="kaypro10">Step 1: Ask questions

Step 2: Wrangle data
- gather
- assess
- clean

Step 3: Perform EDA (Exploratory Data Analysis)
- Explore
-- building intuition
-- finding patterns
-- visualizing relationships
- Augment
-- remove outliers
-- feature engineering

Step 4: Draw conclusions (or make predictions)
- machine learning
- inferential statistics

Step 5: Communicate your results
- Data visualization

Debugging Data Problems
1. Identify surprising data points
2. Print out one or a few surprising points
3. Fix any problems you find

Data Types
- Quantitative
  - Continuous (Height, Age, Income)
  - Discrete (Pages in a Book, Trees in Yard, Dogs at a Coffee Shop)
- Categorical
  - Ordinal (Letter Grade, Survey Rating)
  - Nominal (Gender, Marital Status, Breakfast Items)

Four Aspects for Quantitative Data
1. Measures of Center
2. Measures of Spread
3. The Shape of the data.
4. Outliers

Measures of Center
1. Mean
2. Median
3. Mode (most frequently occurrring value)

The median of a set with an odd number of values is the value in the middle.
The median of a set with an even number of values is the mean of the 2 values in the middle.

A random variable is a column.
An observed value is a scalar.
</pre>