@page "/notes/data-science/data-science"

<h1>Data Science</h1>

<div class="kaypro10"><pre>Links:
<a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown Cheatsheet</a>
<a target="_blank" href="https://ipython.readthedocs.io/en/stable/interactive/magics.html">Magic Commands</a>
<a target="_blank" href="https://docs.python.org/3/library/pdb.html">pdb — The Python Debugger</a>

Common Jupyter keystrokes
SHIFT+ENTER
CTRL+ENTER
UP/DOWN
TAB
SHIFT+TAB
SHIFT+TAB,SHIFT+TAB
ESC,H
CTRL+SHIFT+P

Common magic keywords:
%matplotlib
%timeit
%pdb

# convert a notebook to HTML, slides
jupyter nbconvert --to html notebook.ipynb
jupyter nbconvert notebook.ipynb --to slides
jupyter nbconvert notebook.ipynb --to slides --post serve

Classification -> categorical outcomes
Regression -> numerical outcomes

- Supervised learning
  - Classification
  - Regression
- Unsupervised learning
  - Classification
- Reinforcement learning

Absolute Trick (to move a line towards a point)
Given y = w<sub>1</sub>x + w<sub>2</sub>, point (p, q) and learning rate α
y = (w<sub>1</sub> + pα)x + (w<sub>2</sub> + α)

Square Trick
y = (w<sub>1</sub> + p(q - q')α)x + (w<sub>2</sub> + (q - q')α)

Mean Absolute Error:
</pre>
<div class="MathJax_Display" style="text-align: center;"><span tabindex="0" class="MathJax" id="MathJax-Element-12-Frame" role="presentation" style="text-align: center; position: relative;" data-mathml='<math xmlns="http://www.w3.org/1998/Math/MathML" display="block"><mi>E</mi><mi>r</mi><mi>r</mi><mi>o</mi><mi>r</mi><mo>=</mo><mfrac><mn>1</mn><mi>m</mi></mfrac><munderover><mo>&amp;#x2211;</mo><mrow class="MJX-TeXAtom-ORD"><mi>i</mi><mo>=</mo><mn>1</mn></mrow><mi>m</mi></munderover><mrow class="MJX-TeXAtom-ORD"><mrow class="MJX-TeXAtom-ORD"><mo stretchy="false">|</mo></mrow><mi>y</mi><mo>&amp;#x2212;</mo><mrow class="MJX-TeXAtom-ORD"><mover><mi>y</mi><mo stretchy="false">&amp;#x005E;</mo></mover></mrow><mrow class="MJX-TeXAtom-ORD"><mo stretchy="false">|</mo></mrow></mrow></math>'><nobr aria-hidden="true"><span class="math" id="MathJax-Span-380" style="width: 10.01em; display: inline-block;"><span style="width: 9.7em; height: 0px; font-size: 103%; display: inline-block; position: relative;"><span style="left: 0em; top: -2.18em; position: absolute; clip: rect(0.44em, 1009.59em, 3.56em, -1000em);"><span class="mrow" id="MathJax-Span-381"><span class="mi" id="MathJax-Span-382" style="font-family: MathJax_Math; font-style: italic;">E<span style="width: 0.02em; height: 1px; overflow: hidden; display: inline-block;"></span></span><span class="mi" id="MathJax-Span-383" style="font-family: MathJax_Math; font-style: italic;">r</span><span class="mi" id="MathJax-Span-384" style="font-family: MathJax_Math; font-style: italic;">r</span><span class="mi" id="MathJax-Span-385" style="font-family: MathJax_Math; font-style: italic;">o</span><span class="mi" id="MathJax-Span-386" style="font-family: MathJax_Math; font-style: italic;">r</span><span class="mo" id="MathJax-Span-387" style="padding-left: 0.27em; font-family: MathJax_Main;">=</span><span class="mfrac" id="MathJax-Span-388" style="padding-left: 0.27em;"><span style="width: 0.99em; height: 0px; margin-right: 0.12em; margin-left: 0.12em; display: inline-block; position: relative;"><span style="left: 50%; top: -4.68em; margin-left: -0.25em; position: absolute; clip: rect(3.15em, 1000.42em, 4.18em, -1000em);"><span class="mn" id="MathJax-Span-389" style="font-family: MathJax_Main;">1</span><span style="width: 0px; height: 4em; display: inline-block;"></span></span><span style="left: 50%; top: -3.31em; margin-left: -0.43em; position: absolute; clip: rect(3.38em, 1000.85em, 4.19em, -1000em);"><span class="mi" id="MathJax-Span-390" style="font-family: MathJax_Math; font-style: italic;">m</span><span style="width: 0px; height: 4em; display: inline-block;"></span></span><span style="left: 0em; top: -1.31em; position: absolute; clip: rect(0.83em, 1000.99em, 1.27em, -1000em);"><span style="width: 0.99em; height: 0px; overflow: hidden; vertical-align: 0em; border-top-color: currentColor; border-top-width: 1.3px; border-top-style: solid; display: inline-block;"></span><span style="width: 0px; height: 1.09em; display: inline-block;"></span></span></span></span><span class="munderover" id="MathJax-Span-391" style="padding-left: 0.16em;"><span style="width: 1.44em; height: 0px; display: inline-block; position: relative;"><span style="left: 0em; top: -4em; position: absolute; clip: rect(2.87em, 1001.38em, 4.63em, -1000em);"><span class="mo" id="MathJax-Span-392" style="font-family: MathJax_Size2; vertical-align: 0em;">∑</span><span style="width: 0px; height: 4em; display: inline-block;"></span></span><span style="left: 0.14em; top: -2.91em; position: absolute; clip: rect(3.35em, 1001.09em, 4.29em, -1000em);"><span class="texatom" id="MathJax-Span-393"><span class="mrow" id="MathJax-Span-394"><span class="mi" id="MathJax-Span-395" style="font-family: MathJax_Math; font-size: 70.7%; font-style: italic;">i</span><span class="mo" id="MathJax-Span-396" style="font-family: MathJax_Main; font-size: 70.7%;">=</span><span class="mn" id="MathJax-Span-397" style="font-family: MathJax_Main; font-size: 70.7%;">1</span></span></span><span style="width: 0px; height: 4em; display: inline-block;"></span></span><span style="left: 0.41em; top: -5.15em; position: absolute; clip: rect(3.41em, 1000.6em, 4.19em, -1000em);"><span class="mi" id="MathJax-Span-398" style="font-family: MathJax_Math; font-size: 70.7%; font-style: italic;">m</span><span style="width: 0px; height: 4em; display: inline-block;"></span></span></span></span><span class="texatom" id="MathJax-Span-399" style="padding-left: 0.16em;"><span class="mrow" id="MathJax-Span-400"><span class="texatom" id="MathJax-Span-401"><span class="mrow" id="MathJax-Span-402"><span class="mo" id="MathJax-Span-403" style="font-family: MathJax_Main;">|</span></span></span><span class="mi" id="MathJax-Span-404" style="font-family: MathJax_Math; font-style: italic;">y<span style="width: 0em; height: 1px; overflow: hidden; display: inline-block;"></span></span><span class="mo" id="MathJax-Span-405" style="padding-left: 0.22em; font-family: MathJax_Main;">−</span><span class="texatom" id="MathJax-Span-406" style="padding-left: 0.22em;"><span class="mrow" id="MathJax-Span-407"><span class="munderover" id="MathJax-Span-408"><span style="width: 0.58em; height: 0px; display: inline-block; position: relative;"><span style="left: 0em; top: -4em; position: absolute; clip: rect(3.38em, 1000.49em, 4.39em, -1000em);"><span class="mi" id="MathJax-Span-409" style="font-family: MathJax_Math; font-style: italic;">y<span style="width: 0em; height: 1px; overflow: hidden; display: inline-block;"></span></span><span style="width: 0px; height: 4em; display: inline-block;"></span></span><span style="left: 0.08em; top: -4.06em; position: absolute; clip: rect(3.12em, 1000.38em, 3.65em, -1000em);"><span class="mo" id="MathJax-Span-410" style="font-family: MathJax_Main;">^</span><span style="width: 0px; height: 4em; display: inline-block;"></span></span></span></span></span></span><span class="texatom" id="MathJax-Span-411"><span class="mrow" id="MathJax-Span-412"><span class="mo" id="MathJax-Span-413" style="font-family: MathJax_Main;">|</span></span></span></span></span></span><span style="width: 0px; height: 2.18em; display: inline-block;"></span></span></span><span style="width: 0px; height: 2.96em; overflow: hidden; vertical-align: -1.29em; border-left-color: currentColor; border-left-width: 0px; border-left-style: solid; display: inline-block;"></span></span></nobr><span class="MJX_Assistive_MathML MJX_Assistive_MathML_Block" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML" display="block"><mi>E</mi><mi>r</mi><mi>r</mi><mi>o</mi><mi>r</mi><mo>=</mo><mfrac><mn>1</mn><mi>m</mi></mfrac><munderover><mo>∑</mo><mrow class="MJX-TeXAtom-ORD"><mi>i</mi><mo>=</mo><mn>1</mn></mrow><mi>m</mi></munderover><mrow class="MJX-TeXAtom-ORD"><mrow class="MJX-TeXAtom-ORD"><mo stretchy="false">|</mo></mrow><mi>y</mi><mo>−</mo><mrow class="MJX-TeXAtom-ORD"><mover><mi>y</mi><mo stretchy="false">^</mo></mover></mrow><mrow class="MJX-TeXAtom-ORD"><mo stretchy="false">|</mo></mrow></mrow></math></span></span></div>
<pre>Mean Squared Error:</pre>
<div class="MathJax_Display" style="text-align: center;"><span tabindex="0" class="MathJax" id="MathJax-Element-13-Frame" role="presentation" style="text-align: center; position: relative;" data-mathml='<math xmlns="http://www.w3.org/1998/Math/MathML" display="block"><mi>E</mi><mi>r</mi><mi>r</mi><mi>o</mi><mi>r</mi><mo>=</mo><mfrac><mn>1</mn><mrow><mn>2</mn><mi>m</mi></mrow></mfrac><munderover><mo>&amp;#x2211;</mo><mrow class="MJX-TeXAtom-ORD"><mi>i</mi><mo>=</mo><mn>1</mn></mrow><mi>m</mi></munderover><mrow class="MJX-TeXAtom-ORD"><mo stretchy="false">(</mo><mi>y</mi><mo>&amp;#x2212;</mo><mrow class="MJX-TeXAtom-ORD"><mover><mi>y</mi><mo stretchy="false">&amp;#x005E;</mo></mover></mrow><msup><mo stretchy="false">)</mo><mn>2</mn></msup></mrow></math>'><nobr aria-hidden="true"><span class="math" id="MathJax-Span-414" style="width: 11.22em; display: inline-block;"><span style="width: 10.86em; height: 0px; font-size: 103%; display: inline-block; position: relative;"><span style="left: 0em; top: -2.18em; position: absolute; clip: rect(0.44em, 1010.86em, 3.56em, -1000em);"><span class="mrow" id="MathJax-Span-415"><span class="mi" id="MathJax-Span-416" style="font-family: MathJax_Math; font-style: italic;">E<span style="width: 0.02em; height: 1px; overflow: hidden; display: inline-block;"></span></span><span class="mi" id="MathJax-Span-417" style="font-family: MathJax_Math; font-style: italic;">r</span><span class="mi" id="MathJax-Span-418" style="font-family: MathJax_Math; font-style: italic;">r</span><span class="mi" id="MathJax-Span-419" style="font-family: MathJax_Math; font-style: italic;">o</span><span class="mi" id="MathJax-Span-420" style="font-family: MathJax_Math; font-style: italic;">r</span><span class="mo" id="MathJax-Span-421" style="padding-left: 0.27em; font-family: MathJax_Main;">=</span><span class="mfrac" id="MathJax-Span-422" style="padding-left: 0.27em;"><span style="width: 1.49em; height: 0px; margin-right: 0.12em; margin-left: 0.12em; display: inline-block; position: relative;"><span style="left: 50%; top: -4.68em; margin-left: -0.25em; position: absolute; clip: rect(3.15em, 1000.42em, 4.18em, -1000em);"><span class="mn" id="MathJax-Span-423" style="font-family: MathJax_Main;">1</span><span style="width: 0px; height: 4em; display: inline-block;"></span></span><span style="left: 50%; top: -3.31em; margin-left: -0.68em; position: absolute; clip: rect(3.15em, 1001.35em, 4.19em, -1000em);"><span class="mrow" id="MathJax-Span-424"><span class="mn" id="MathJax-Span-425" style="font-family: MathJax_Main;">2</span><span class="mi" id="MathJax-Span-426" style="font-family: MathJax_Math; font-style: italic;">m</span></span><span style="width: 0px; height: 4em; display: inline-block;"></span></span><span style="left: 0em; top: -1.31em; position: absolute; clip: rect(0.83em, 1001.49em, 1.27em, -1000em);"><span style="width: 1.49em; height: 0px; overflow: hidden; vertical-align: 0em; border-top-color: currentColor; border-top-width: 1.3px; border-top-style: solid; display: inline-block;"></span><span style="width: 0px; height: 1.09em; display: inline-block;"></span></span></span></span><span class="munderover" id="MathJax-Span-427" style="padding-left: 0.16em;"><span style="width: 1.44em; height: 0px; display: inline-block; position: relative;"><span style="left: 0em; top: -4em; position: absolute; clip: rect(2.87em, 1001.38em, 4.63em, -1000em);"><span class="mo" id="MathJax-Span-428" style="font-family: MathJax_Size2; vertical-align: 0em;">∑</span><span style="width: 0px; height: 4em; display: inline-block;"></span></span><span style="left: 0.14em; top: -2.91em; position: absolute; clip: rect(3.35em, 1001.09em, 4.29em, -1000em);"><span class="texatom" id="MathJax-Span-429"><span class="mrow" id="MathJax-Span-430"><span class="mi" id="MathJax-Span-431" style="font-family: MathJax_Math; font-size: 70.7%; font-style: italic;">i</span><span class="mo" id="MathJax-Span-432" style="font-family: MathJax_Main; font-size: 70.7%;">=</span><span class="mn" id="MathJax-Span-433" style="font-family: MathJax_Main; font-size: 70.7%;">1</span></span></span><span style="width: 0px; height: 4em; display: inline-block;"></span></span><span style="left: 0.41em; top: -5.15em; position: absolute; clip: rect(3.41em, 1000.6em, 4.19em, -1000em);"><span class="mi" id="MathJax-Span-434" style="font-family: MathJax_Math; font-size: 70.7%; font-style: italic;">m</span><span style="width: 0px; height: 4em; display: inline-block;"></span></span></span></span><span class="texatom" id="MathJax-Span-435" style="padding-left: 0.16em;"><span class="mrow" id="MathJax-Span-436"><span class="mo" id="MathJax-Span-437" style="font-family: MathJax_Main;">(</span><span class="mi" id="MathJax-Span-438" style="font-family: MathJax_Math; font-style: italic;">y<span style="width: 0em; height: 1px; overflow: hidden; display: inline-block;"></span></span><span class="mo" id="MathJax-Span-439" style="padding-left: 0.22em; font-family: MathJax_Main;">−</span><span class="texatom" id="MathJax-Span-440" style="padding-left: 0.22em;"><span class="mrow" id="MathJax-Span-441"><span class="munderover" id="MathJax-Span-442"><span style="width: 0.58em; height: 0px; display: inline-block; position: relative;"><span style="left: 0em; top: -4em; position: absolute; clip: rect(3.38em, 1000.49em, 4.39em, -1000em);"><span class="mi" id="MathJax-Span-443" style="font-family: MathJax_Math; font-style: italic;">y<span style="width: 0em; height: 1px; overflow: hidden; display: inline-block;"></span></span><span style="width: 0px; height: 4em; display: inline-block;"></span></span><span style="left: 0.08em; top: -4.06em; position: absolute; clip: rect(3.12em, 1000.38em, 3.65em, -1000em);"><span class="mo" id="MathJax-Span-444" style="font-family: MathJax_Main;">^</span><span style="width: 0px; height: 4em; display: inline-block;"></span></span></span></span></span></span><span class="msubsup" id="MathJax-Span-445"><span style="width: 0.81em; height: 0px; display: inline-block; position: relative;"><span style="left: 0em; top: -4em; position: absolute; clip: rect(3.07em, 1000.29em, 4.43em, -1000em);"><span class="mo" id="MathJax-Span-446" style="font-family: MathJax_Main;">)</span><span style="width: 0px; height: 4em; display: inline-block;"></span></span><span style="left: 0.38em; top: -4.41em; position: absolute;"><span class="mn" id="MathJax-Span-447" style="font-family: MathJax_Main; font-size: 70.7%;">2</span><span style="width: 0px; height: 4em; display: inline-block;"></span></span></span></span></span></span></span><span style="width: 0px; height: 2.18em; display: inline-block;"></span></span></span><span style="width: 0px; height: 2.96em; overflow: hidden; vertical-align: -1.29em; border-left-color: currentColor; border-left-width: 0px; border-left-style: solid; display: inline-block;"></span></span></nobr><span class="MJX_Assistive_MathML MJX_Assistive_MathML_Block" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML" display="block"><mi>E</mi><mi>r</mi><mi>r</mi><mi>o</mi><mi>r</mi><mo>=</mo><mfrac><mn>1</mn><mrow><mn>2</mn><mi>m</mi></mrow></mfrac><munderover><mo>∑</mo><mrow class="MJX-TeXAtom-ORD"><mi>i</mi><mo>=</mo><mn>1</mn></mrow><mi>m</mi></munderover><mrow class="MJX-TeXAtom-ORD"><mo stretchy="false">(</mo><mi>y</mi><mo>−</mo><mrow class="MJX-TeXAtom-ORD"><mover><mi>y</mi><mo stretchy="false">^</mo></mover></mrow><msup><mo stretchy="false">)</mo><mn>2</mn></msup></mrow></math></span></span></div>
<pre>
# Example: calculate MSE explicitly to update line (don't actually use this)
def MSEStep(X, y, W, b, learn_rate = 0.005):
    y_pred = np.matmul(X, W) + b
    error = y - y_pred
    W_new = W + learn_rate * np.matmul(error, X)
    b_new = b + learn_rate * error.sum()
    return W_new, b_new

L1 regularization adds the polynomial coefficients and adds them to the error, penalizing complexity.
L2 regularization adds the squares of the coefficients.

λ is the coefficient used to tune L1 &amp; L2 regularization.

L1 regularization
- Computationally inefficient (unless data is sparse)
- Better for sparse outputs
- Feature selection (drives less relevant columns to 0)
L2 regularization
- Computationally efficient
- Better for non-sparse outputs
- No feature selection

Standardizing is completed by taking each value of your column, subtracting the mean of the column, and then dividing by the standard deviation of the column.
Normalizing scales data between 0 and 1.

When Should I Use Feature Scaling?
- When your algorithm uses a distance based metric to predict. 
- When you incorporate regularization.

Linear boundary:
w<sub>1</sub>x<sub>1</sub> + w<sub>2</sub>x<sub>2</sub> + b = 0 
Wx + b = 0
W = (w<sub>1</sub>, w<sub>2</sub>)
x = (x<sub>1</sub>, x<sub>2</sub>)

Perceptron:
ŷ = 1 if Wx + b ≥ 0
    0 if Wx + b &lt; 0
</pre>
</div>
