@page "/notes/data-science/deep-learning"

<h1>Deep Learning</h1>

<pre class="kaypro10">Links:
<a href="https://www.manning.com/books/grokking-deep-learning">Grokking Deep Learning</a>

<em>Type</em> of machine learning: supervised vs. unsupervised

<em>Method</em> of machine learning: parametric (trial-and-error) vs. non-parametric ("counting")

Deep learning is a class of parametric model.
</pre>