@page "/tools/measurementconverter"

<article class="narrow-article" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebApplication">
    @*@{Html.RenderPartial("~/Views/Shared/_StructuredData.cshtml", ViewBag as object);}*@
    <meta itemprop="applicationCategory" content="Tool, Multimedia" />
    <meta itemprop="applicationSubCategory" content="Math" />
    <meta itemprop="operatingSystem" content="IIS/ASP.NET MVC" />
    <h1 class="calculator-text" itemprop="name">Measurement Converter</h1>
    <h5 class="calculator-text">An Experiment in WebAssembly w/ ASP.NET Blazor</h5>
    <form>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefaultUsername">Pounds</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Pounds" aria-label="Pounds" aria-describedby="button-pounds" bind="@pounds"/>
                    <div class="input-group-append">
                        <button class="btn-outline-secondary" type="button" id="button-pounds" onclick="@OnPounds">Calc</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefaultUsername">Kilos</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Kilos" aria-label="Kilos" aria-describedby="button-kilos" bind="@kilos"/>
                    <div class="input-group-append">
                        <button class="btn-outline-secondary" type="button" id="button-kilos" onclick="@OnKilos">Calc</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p class="calculator-text" itemprop="description"><b>Disclaimer:</b> This calculator is for demonstration purposes only.</p>
</article>

@functions {
    const string pattern = @"";
    string pounds = "";
    string kilos = "";
    double temp;

    void OnPounds()
    {
        kilos = (Double.TryParse(pounds, out temp) ? (temp / 2.2046).ToString("0.##") : "ERROR");
    }

    void OnKilos()
    {
        pounds = (Double.TryParse(kilos, out temp) ? (temp * 0.4536).ToString("0.##") : "ERROR");
    }
}