@page "/notes/static-notes"

<h1>Static Notes</h1>

<pre class="kaypro10">Links:
<a target="_blank" href="notes/data-science/data-analysis.html">Data Analysis</a>
<a target="_blank" href="notes/data-science/data-science.html">Data Science</a>
<a target="_blank" href="notes/data-science/deep-learning.html">Deep Learning</a>
<a target="_blank" href="notes/data-science/machine-learning.html">Machine Learning</a>
</pre>
