@page "/notes/other/chords"

<h1>Chord Substitution</h1>

<pre class="kaypro10">Rule I: For basic chords, any modal extension may be added.
 7 <=>  9,    11,  13
Δ7 <=> Δ9, Δ7#11, Δ13
m7 <=> m9,   m11, m13

Rule II: Major Chords
Substitute Major chords own mediant or submediant chord.

Rule III: Minor Chords
Substitute Relative Major or Dominant Minor.

Rule IV: Dominant Chords 
Substitute Dom. minor (ii7) for Dom. major (must return to V7).

Rule V: All Chords - Tritone Substitution
Substitute any chord which has a root a tritone away from the original chord.

Rule VI: Dominant Chords
Substitute Δ7b5 or Δ7#5 built on the subtonic (bvii) of the Dom. chord.

Rule VII: Dominant Chords
Substitute m7b5 chord built on the mediant of the Dom7 chord.

Rule VIII: Dominant Chords
Substitute Dim7 chord built on bII of the Dom7 chord.

Rule IX: V7 chords may replace minors (secondary dominants) to set up a stronger harmonic cadence (tonicization).

Rule X: Dom7 (V7) chords
Altered (#9, b9, #5, b5) Dom7 chords may follow unaltered chords when resolving to their tonic.
The reverse is not true. When moving towards the tonic, you need to go from less tension to more tension.
c</pre>